/*html {
	height: 100%;
}

body {
	min-height: 100%;
}*/

.grid-container {	/*Main Grid Style*/
	display: grid;
	gap: 10px 10px;
	grid-template-columns: 3fr 17fr;
	grid-template-rows: 1fr 8fr 1fr;
	/*grid-template-rows: 10vh 70vh 10vh;*/
	grid-template-areas:
	"h h h"
	"s m m"
	"b b b";
	
}

@media (orientation: landscape) {
	/*body{
		/*background: url("Demo-Images/sunrise-columbia.jpg") no-repeat fixed;
		background-size: cover;*/
		/*background-color: orange;
		color: white;*/
	/*}*/
	.grid-container {
		grid-template-areas: 	
		"h h h"
		"s m m"
		"b b b";
	}

	li{
		display: block;
	}
}

@media (orientation: portrait) {


	.grid-container {
		grid-template-areas: 	
		"h h h"
		"m m m"
		"s s s"
		"b b b";
	}

	li {
		display: inline-block;
	}
}

.header {
	grid-area: h;
	background-color: blue;
	text-align:left;
	
}

.side-bar {
	grid-area: s;
	background-color: orange;
	text-align: center;
}
.main-body {
	grid-area: m;
	background-color: blueviolet;
	background: url("Demo-Images/sunrise-columbia.jpg") no-repeat;
	background-size: cover;
}
.footer {
	grid-area: b;
	background-color: aqua;
	text-align: center;
}

body, .grid-container {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	list-style-type: none;
}

.flex-container {
	display: flex;
	justify-content: space-around;

}

body {
	background-color: black;
}
