/*html {
	height: 100%;
}

body {
	min-height: 100%;
}*/

.grid-container {	/*Main Grid Style*/
	display: grid;
	/*gap: 10px 10px;*/
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto minmax(auto, 3fr) auto;
	/*grid-template-rows: 1fr 8fr 2fr;
	/*grid-template-rows: 10vh 70vh 10vh;*/
	grid-template-areas:
	"h h h"
	"m m s"
	"b b fc";
	
}

@media (orientation: landscape) {
	/*body{
		/*background: url("Demo-Images/sunrise-columbia.jpg") no-repeat fixed;
		background-size: cover;*/
		/*background-color: orange;
		color: white;*/
	/*}*/
	.grid-container {
		grid-template-areas: 	
		"h h h"
		"m m s"
		"b b fc";

		grid-template-rows: auto minmax(auto, 3fr) auto;

	}

	li{
		display: block;
	}
}

@media (orientation: portrait) {


	.grid-container {
		grid-template-areas: 	
		"h h h"
		"m m m"
		"s s s"
		"fc fc fc"
		"b b b";

		grid-template-rows: auto 3fr minmax(auto, 3fr) auto;

	}

	/*.grid-container {
		grid-template-areas: 	
		"h h h"
		"s s s"
		"m m m"
		"b b b";
	}*/

	li {
		display: inline-block;
	}
}

.header {
	grid-area: h;
	background-color: blue;
	text-align:left;
	border-bottom: 1px solid rgb(0, 0, 0);
	
}

/*.side-bar {
	grid-area: s;
	background-color: orange;
	text-align: center;
}*/

.side-text {
	grid-area: s;
	background-color: orange;
	text-align: center;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.main-body {
	grid-area: m;
	background-color: blueviolet;
	background: url("Demo-Images/sunrise-columbia.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid rgb(0, 0, 0);
}
.footer {
	grid-area: b;
	background-color: aqua;
	text-align: center;
}

body, .grid-container, .flex-container {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	padding-left: 5px;
	padding-right: 5px;
}

ul {
	list-style-type: none;
}

.flex-container {
	grid-area: fc;
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	background-color: aqua;
}

body {
	background-color: aqua;
}
